extends ../includes/layout.pug
block metatags
  -var title= 'M A R A T O N - 4 2. 1 9 5 km'
  -var description= 'Bienvenid@s en este sitio encontraras informacion sobre el marviloso mundo de los Maratones.'
  title= title
  meta(name="description", content= description)
  meta(name="application-name=", content= title)

block content
  main.Home.u-afterFixed
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum debitis modi dolores quod asperiores eum porro rerum autem, consequatur maxime quas amet! Pariatur voluptates sapiente temporibus, tenetur praesentium mollitia.
